name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout StringsUtil
      uses: actions/checkout@v6
    - name: Update Build Environment
      run: sudo apt-get update --fix-missing -y
    - name: Install Prerequisites
      run: sudo apt-get install -y cppcheck libcups2-dev
    - name: Configure StringsUtil
      run: ./configure --enable-debug --with-sanitizer=address
    - name: Build StringsUtil
      run: make
    - name: Test StringsUtil
      env:
        ASAN_OPTIONS: leak_check_at_exit=false
      run: make test
    - name: Run Clang Static Analyzer
      run: make CC=clang "GHA_ERROR=::error::" clang
    - name: Run cppcheck
      run: make "GHA_ERROR=::error::" cppcheck

  build-macos:

    runs-on: macos-latest

    steps:
    - name: Checkout StringsUtil
      uses: actions/checkout@v6
    - name: Configure StringsUtil
      run: ./configure --enable-debug --with-sanitizer=address
    - name: Build StringsUtil
      run: make
    - name: Test StringsUtil
      run: make test
    - name: Run Clang Static Analyzer
      run: make CC=clang "GHA_ERROR=::error::" clang
